<!-- <h2>
    Add new exercise
  </h2>
  
  <% if (exercise.isNew) { %>
    <form action="/exercise" method="post">
  <% } else { %>
    <form action="/exercise/<%= exercise.id %>" method="post">
  <% } %>
  
    Name:
    <input type="text" name="name" value="<%= exercise.name %>">
  
    Modulo:
    <input type="number" name="modulo" value="<%= exercise.modulo %>">
  
    Iteraciones:
    <input type="text" name="iteraciones" value="<%= exercise.iteraciones %>">

    Enlace:
    <input type="text" name="iteraciones" value="<%= exercise.enlace %>">
  
    <input type="submit"/>
  </form> -->