<!---------- MAIN ---------->
<main class="col-sm-9 col-md-10">

    <div class="cabeceraNombre">
        <h2>Bienvenido,
            <%= user.displayName %>
        </h2>
        <div class="estrellaMuerte">
            <i class="fas fa-star oro"></i>
            <i class="fas fa-star plata"></i>
            <i class="fas fa-star bronce"></i>
        </div>
    </div>

    <br>
    <div class="nav">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" id="modulo1" href="#">Módulo 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="modulo2" href="#">Módulo 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="modulo3" href="#">Módulo 3</a>
            </li>

        </ul>
    </div>

    <div class="modulo1 pestnavs active">

        <table class="table modulo1table">

            <thead class="bg-secondary text-white">
            <tr>
                <th scope="col">Ejercicio</th>
                <th scope="col">Iteración</th>
                <th class="tableCenter" scope="col">Comentarios</th>
                <th class="tableCenter" scope="col">Guardar</th>
            </tr>
            </thead>

            <tbody>

            <% var comment = ''; %>
            <% var iterations = ['off', 'off', 'off', 'off', 'off', 'off', 'off', 'off', 'off', 'off'] %>
            <% var it = ['Primera', 'Segunda', 'Tercera', 'Cuarta', 'Quinta', 'Sexta', 'Septima', 'Octava', 'Novena', 'Décima', 'Undécima', 'Duodécima']; %>
            <% for( let i = 0; i < module1.length; i++ ) { %>

            <div class="form-group">
                <!-- He cambiado la antigua ruta /mail/send , hay que dasle una vuelta -->
                <form action="/save" method="post">
                    <tr>
                        <th scope="row"><%= module1[i].name %></th>

                        <% for( let k = 0; k < exercisesUser.length; k++ ) { %>
                        <% if( module1[i]._id.equals(exercisesUser[k].idExercise) ) { %>
                        <% comment = exercisesUser[k].comment %>
                        <% iterations = exercisesUser[k].iterations %>
                        <% break; %>
                        <% } else { %>
                        <% comment = '' %>
                        <% iterations = ['off', 'off', 'off', 'off', 'off', 'off', 'off', 'off', 'off', 'off'] %>
                        <% } %>
                        <% } %>

                        <td>
                            <div class="checkbox">

                                <% for( let j = 0; j < module1[i].iterations; j++ ) { %>

                                <input class="sum" type="checkbox" name="<%= it[j] %>"
                                        <% if( iterations[j] === 'on' ) { %>
                                        <%= 'checked' %>
                                        <% } %>
                                >
                                <%= it[j] %>
                                <br>

                                <% } %>

                            </div>
                        </td>

                        <td class="tableCenter">
                            <textarea class="textarea" cols="30" rows="4" name="comment"><%= comment %></textarea>
                        </td>

                        <td class="tableCenter">
                            <button type="submit" class="btn btn-primary waves-effect save" name="idexercise"
                                    value="<%= module1[i]._id %>">Guardar Cambios
                            </button>
                            <br>
                            <button id="emailLink" class="btn btn-light waves-effect">Enviar Comentario</button>
                        </td>

                    </tr>
                </form>
            </div>

            <% } %>

            </tbody>
        </table>
    </div>

    <div class="modulo2 pestnavs">

        <table class="table modulo2table">

            <thead class="bg-secondary text-white">
            <tr>
                <th scope="col">Ejercicio</th>
                <th scope="col">Iteración</th>
                <th class="tableCenter" scope="col">Comentarios</th>
                <th class="tableCenter" scope="col">Guardar</th>
            </tr>
            </thead>

            <tbody>

            <% var it = ['Primera', 'Segunda', 'Tercera', 'Cuarta', 'Quinta', 'Sexta', 'Septima', 'Octava', 'Novena', 'Décima', 'Undécima', 'Duodécima']; %>
            <% for( let i = 0; i < module2.length; i++ ) { %>

            <div class="form-group">
                <!-- He cambiado la antigua ruta /mail/send , hay que dasle una vuelta -->
                <form action="/save" method="post">
                    <tr>
                        <th scope="row"><%= module2[i].name %></th>

                        <% for( let k = 0; k < exercisesUser.length; k++ ) { %>
                        <% if( module2[i]._id.equals(exercisesUser[k].idExercise) ) { %>
                        <% comment = exercisesUser[k].comment %>
                        <% iterations = exercisesUser[k].iterations %>
                        <% break; %>
                        <% } else { %>
                        <% comment = '' %>
                        <% iterations = ['off', 'off', 'off', 'off', 'off', 'off', 'off', 'off', 'off', 'off'] %>
                        <% } %>
                        <% } %>

                        <td>
                            <div class="checkbox">

                                <% for( let j = 0; j < module2[i].iterations; j++ ) { %>

                                <input class="sum" type="checkbox" name="<%= it[j] %>"
                                        <% if( iterations[j] === 'on' ) { %>
                                        <%= 'checked' %>
                                        <% } %>
                                >
                                <%= it[j] %>
                                <br>

                                <% } %>

                            </div>
                        </td>

                        <td class="tableCenter">
                            <textarea class="textarea" cols="30" rows="4" name="comment"><%= comment %></textarea>
                        </td>

                        <td class="tableCenter">
                            <button type="submit" class="btn btn-primary waves-effect save" name="idexercise"
                                    value="<%= module2[i]._id %>">Guardar Cambios
                            </button>
                            <br>
                            <button id="emailLink" class="btn btn-light waves-effect">Enviar Comentario</button>
                        </td>

                    </tr>
                </form>
            </div>

            <% } %>

            </tbody>
        </table>
    </div>

    <div class="modulo3 pestnavs">

        <table class="table modulo3table">

            <thead class="bg-secondary text-white">
            <tr>
                <th scope="col">Ejercicio</th>
                <th scope="col">Iteración</th>
                <th class="tableCenter" scope="col">Comentarios</th>
                <th class="tableCenter" scope="col">Guardar</th>
            </tr>
            </thead>

            <tbody>

            <% var it = ['Primera', 'Segunda', 'Tercera', 'Cuarta', 'Quinta', 'Sexta', 'Septima', 'Octava', 'Novena', 'Décima', 'Undécima', 'Duodécima']; %>
            <% for( let i = 0; i < module3.length; i++ ) { %>

            <div class="form-group">
                <!-- He cambiado la antigua ruta /mail/send , hay que dasle una vuelta -->
                <form action="/save" method="post">
                    <tr>
                        <th scope="row"><%= module3[i].name %></th>

                        <% for( let k = 0; k < exercisesUser.length; k++ ) { %>
                        <% if( module3[i]._id.equals(exercisesUser[k].idExercise) ) { %>
                        <% comment = exercisesUser[k].comment %>
                        <% iterations = exercisesUser[k].iterations %>
                        <% break; %>
                        <% } else { %>
                        <% comment = '' %>
                        <% iterations = ['off', 'off', 'off', 'off', 'off', 'off', 'off', 'off', 'off', 'off'] %>
                        <% } %>
                        <% } %>

                        <td>
                            <div class="checkbox">

                                <% for( let j = 0; j < module3[i].iterations; j++ ) { %>

                                <input class="sum" type="checkbox" name="<%= it[j] %>"
                                        <% if( iterations[j] === 'on' ) { %>
                                        <%= 'checked' %>
                                        <% } %>
                                >
                                <%= it[j] %>
                                <br>

                                <% } %>

                            </div>
                        </td>

                        <td class="tableCenter">
                            <textarea class="textarea" cols="30" rows="4" name="comment"><%= comment %></textarea>
                        </td>

                        <td class="tableCenter">
                            <button type="submit" class="btn btn-primary waves-effect save" name="idexercise"
                                    value="<%= module3[i]._id %>">Guardar Cambios
                            </button>
                            <br>
                            <button id="emailLink" class="btn btn-light waves-effect">Enviar Comentario</button>
                        </td>

                    </tr>
                </form>
            </div>

            <% } %>

            </tbody>
        </table>
    </div>
</main>

<!---------- AYUDA ------------>
<!--
<div class='wrap'>
    <div class='content'>
        <h2>Hello Ironhacker!</h2>
        <p>Este es un proyecto desarrollado para el módulo 2 del Part Time Web Developer de Ironhack</p>
        <p>Puedes encontrar cosas que funcionan bien, otras que funcionan mal, otras que sabemos que funcionan mal y no
            tenemos tiempo de arreglar, y otras que funcionan peor y nos gustan más así</p>
        <p>No seas malo con las críticas o cobraremos licencias</p>

    </div>
</div>
<a class='button glyphicon glyphicon-plus' href='#'></a>
-->